/* home page info */
.info{
    text-align: center;
}
.title{
    color: rgb(255, 124, 84);
}
.info .txt{
    line-height: 2;
    padding-bottom: 1.5em;
}
.info .btn{
    font-size: 1.1em;
    color: #fff;
    background-color: #d83023;
    border-radius: 100px;
    padding: .5em 3em;
    display: block;
    margin: auto;
}
