.title{
    font-size: 2em;
    color:#d83023 ;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.info .product{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 3em 0 0;
}
.product [class*="item"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    margin-bottom: 2.5em;
    position: relative; 
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .info .product{
        justify-content: flex-start;
    }
    .product [class*="item"]{
        width: 25%;
    }
}
@media screen and (max-width: 767px){
    .info .product{
        justify-content: flex-start;
    }
    .product [class*="item"]{
        width: 33.3333%;
    }
    .info{
        padding: .5em 1em .5em;
    }
}
.product [class*="item"] a{
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    border-radius: 999px;
}
.coverlink{
    position: absolute;
    color: #fff;
    display:block;
    line-height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    opacity: 0;
    background-color: rgba(53,53,53,0.93);
    transition: .4s;
}
.product [class*="item"] img{
    display: block;
    transition: .5s;
}
.product a:hover .coverlink{
    opacity: 1;
}
.product a:hover img{
    transform: scale(1.1)
}

