.title{
    font-size: 2em;
    color:#d83023 ;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.list{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border: solid 1px #E0E7EE;
    border-radius: 5px;
    position: relative;
}
.nav .fas{
    transform: rotate(0deg);
    transition: .2s;
}
.product-list{
    position: absolute;
    top: 100%;
    opacity: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #E0E7EE;
    transition: .2s;
    cursor: pointer;
}
.product-list li{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 29px 5px 18px;
    line-height: 26px;
}
.product-list li:hover{
    background-color: #eee;
}
#menu-switch{
    position: absolute;
    opacity: 0;
}
#menu-switch:checked +.nav .fas{
    transform: rotate(-180deg);
    /* transform:scaleY(-1); */
}
#menu-switch:checked ~ .product-list{
    opacity: 1;
}
.info .product{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 3em 0 0;
}
.product [class*="item"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    margin: 0 0 2.5em;
    /* margin-bottom: 2.5em; */
    position: relative; 
}
.product [class*="item"] a{
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    border-radius: 999px;
}
.product h3{
    padding-top: 1em;
}
.coverlink{
    position: absolute;
    color: #fff;
    display:block;
    line-height: 205px;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    opacity: 0;
    background-color: rgba(53,53,53,0.93);
    transition: .4s;
}
.product [class*="item"] img{
    display: block;
    width: 100%;
    height: auto;
    transition: .3s;
}
.product a:hover .coverlink{
    opacity: 1;
}
.product a:hover img{
    transform: scale(1.1)
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .info .product{
        justify-content: flex-start;
    }
    .product [class*="item"]{
        width: 25%;
    }
}
@media screen and (max-width: 767px){
    .info .product{
        justify-content: flex-start;
    }
    .product [class*="item"]{
        width: 33.3333%;
    }
    .info{
        padding: .5em 1em .5em;
    }
}
@media screen and (max-width:669px){
    .product [class*="item"]{
        width: 48%;
        margin: 0 1% 1.5em;
    }
}

